{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href={% static 'images/bootstrap.min.css'%}>
        <link rel="stylesheet" type="text/css" href={% static 'images/style.css'%}>
        <title>Trsuare Gram</title>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top text-center">
        	<a href="/">
        		<img src="{% static 'images/logo.png' %}" alt="Gold Tresurres">
        	</a>
        	{% if user.is_authenticated %}
            <a  href="{% url 'profile' user.username %}">{{ user.username }}</a>

            <a  href="{% url 'logout' %}">/logout</a>
            {% else %}
            <a  href="{% url 'login' %}">login</a>
            {% endif %}
        </nav>

        <main class="container" role="main">
           {% block content%}

            {% endblock %}
        </main>
        <scrpit src="{% static 'js/jquery-3.2.0.min.js' %}"></scrpit>
        <scrpit src="{% static 'js/main.js' %}"></scrpit>
    </body>
</html>
