{% extends 'base.html' %}
{% load staticfiles %}

{% block content%}

            <div class="row">
            {% for t in treaures %}
            	<div class="col-md-4">
                    <div class="caption">
        				<h3>{{t.name}}</h3>
                        <a class="panel-username" href="/user/{{t.user.username}}"/> by: {{ t.user.username }}
                    </div>
    			<a href="/{{t.id}}" class="thumbnail">
                      <img src="{{t.image.url}}" alt="..." height="200" width="200">
                    </a>

                    <button id ="likes" data-id="{{t.id}}" class="btn btn-mini btn-danger glyphicon glyphicon-heart" type="button">
                        {% if t.likes > 0  %} {{ t.likes }} {% endif %}
                    </button>

                  </div>
                {% endfor %}
            </div>

<div class="tre panel panel-default">
 <div class="panel-heading">
     <h3 class="panel-title">Add Treasure</h3>


    </div>

<div class="panel-body">



<form enctype="multipart/form-data" action="post_url/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>

</div>
    </div>
{% endblock %}








