{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
  <h1>{{username.name}}</h1>

	<div class='row'>
        {% for t in treaures %}
		<div class="col-md-4">
            <div class="t panel panel-default">
                <a href="/{{t.id}}/"></a>
                <div class="panel-heading">
                    <h3 class="panel-title">{{ t.name }}</h3>
                    <img src="{{t.image.url}}" alt="..." height="200" width="200">
                </div>

            </div>
        </div>
        {% endfor %}
</div>
{% endblock %}
